@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;900&family=Noto+Sans:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
:root {
    --primary: #e9e9e9;
    --secondary: #1f1d1d;
    --tertiary: #F4FF00;
    --dark: #000;
    --light: #ffffff54;
    --font: 'Barlow';
    --font_body: 'Noto Sans';
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    color: var(--primary);
    font-family: var(--font_body);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.7;
}

h1 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    position: relative;
}

.title:before {
    content: "";
    height: 4px;
    width: 50px;
    background: var(--tertiary);
    position: absolute;
    bottom: -20px;
}

.title p {
    position: absolute;
    bottom: 0;
    letter-spacing: 2px;
    color: var(--primary);
}

.title span {
    font-weight: 700;
    color: var(--tertiary);
    position: absolute;
    font-family: var(--font);
}

.text-bloc {
    text-align: justify;
}

section#about {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    left: 350px;
    display: block;
    width: calc(100% - 450px);
}

div.img {
    position: relative;
    width: 500px;
    height: 500px;
    /* border-radius: 50%; */
    background: var(--secondary);
}

header div.img {
    border: 10px solid var(--tertiary);
}

div.img:before {
    content: "";
    width: 80px;
    height: 80px;
    background: var(--tertiary);
    position: absolute;
    right: 40px;
    top: -45px;
    border: 10px solid #000000;
    transform: rotate(45deg);
}

header div.img:before {
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

header div.img:after {
    top: 39%;
    left: 88%;
    background: #f4ff00;
}

div.img:after {
    content: "";
    width: 100px;
    height: 100px;
    background: var(--tertiary);
    position: absolute;
    left: -60px;
    bottom: -50px;
    border-radius: 50%;
    border: 10px solid #000000;
}

div.img img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    padding-top: 10%;
}

.btns {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.btns a.btn {
    background: transparent;
    border: 1px solid var(--light);
    padding: 15px 20px;
    font-size: 20px;
    letter-spacing: 4px;
    color: var(--light);
    position: relative;
    overflow: hidden;
    font-weight: 700;
    transition: all .3s linear;
}

.btns a.btn:hover {
    color: var(--dark);
}

.btns a.btn:before {
    content: "";
    inset: 0;
    background: var(--tertiary);
    position: absolute;
    left: 0;
    transition: all 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 0;
    z-index: -1;
}

.btns a.btn:hover:before {
    left: 0;
    width: 100%;
}

h1 span.subtitle {
    -webkit-text-stroke-color: var(--tertiary);
    display: block;
}

span.subtitle:nth-child(2) {
    -webkit-text-fill-color: var(--primary);
    -webkit-text-stroke: aliceblue;
    -webkit-text-stroke-color: #ffffff30;
    -webkit-text-stroke-width: thin;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 20px 0;
}

.slogan {
    display: flex;
    flex-direction: column;
}

.slogan h1,
h2 {
    font-size: 6rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--light);
    -webkit-text-stroke-width: thin;
    letter-spacing: 5px;
    font-family: var(--font);
}

.count-particles {
    display: none;
}

div#stats {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--secondary);
    padding: 2% 40px;
    align-items: center;
    position: fixed;
    height: 100%;
}

div#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

a.logo img {
    max-width: 145px;
}

header {
    position: relative;
    height: 100vh;
}

section#header {
    height: 100%;
    display: flex;
    z-index: 9;
    position: relative;
}

.banner {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10%;
    position: relative;
    left: 20%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    letter-spacing: 1px;
}

nav ul li a {
    font-size: 27px;
    transition: all .3s linear;
    position: relative;
    font-weight: 700;
    font-family: var(--font);
}

nav ul li a:hover {
    color: var(--tertiary);
}

nav ul li a:before {
    content: "";
    width: 24px;
    height: 1px;
    background: var(--tertiary);
    left: -200px;
    top: 50%;
    position: absolute;
    transition: all .3s linear
}

nav ul li a:hover:before {
    left: -33px;
}

.social {
    display: flex;
    gap: 20px;
}

.social a {
    width: 30px;
    height: 30px;
    border: 1px solid #f4ff0052;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all .3s linear;
}

.social a:hover {
    color: var(--dark);
    background: var( --tertiary);
    border-color: var( --dark);
    transform: rotate(360deg);
}

.social i {}