@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;900&family=Noto+Sans:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
:root {
    --primary: #e9e9e9;
    --secondary: #1f1d1d;
    --tertiary: #F4FF00;
    --dark: #000;
    --light: #ffffff54;
    --font: 'Barlow';
    --font_body: 'Noto Sans';
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section#education .item:hover p.description {
    color: var(--dark);
}

section#education {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

main section {
    padding: 5% 10%;
}

section#experience {
    padding-top: 20px;
}

section#experience .container {
    justify-content: space-between;
    display: flex;
    gap: 40px;
}

section#experience .container .item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--secondary);
    padding: 30px 20px;
}

section#experience .container .item .title {
    font-weight: 700;
    font-family: var(--font);
    font-size: 18px;
}

section#experience .container .item .date {
    color: var(--tertiary);
}

section#education .container {
    display: flex;
    gap: 40px;
}

section#education .container .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--secondary);
    padding: 30px 40px;
    gap: 0px;
    text-align: left;
    transition: all .3s linear;
}

section#education .container .item:hover {
    background: var(--tertiary);
}

section#education .container .item .date {
    color: var(--light);
    font-size: 20px;
    font-weight: 100;
    font-family: var(--font);
}

section#education .container .item:hover .date {
    color: var(--dark);
}

section#education .title {
    text-align: center;
    color: var(--primary);
    font-family: var(--font);
    font-weight: 700;
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
    text-align: left;
}

section#education .item:hover .title {
    color: var(--dark);
}

body {
    background-color: var(--dark);
    color: var(--primary);
    font-family: var(--font_body);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.7;
}

h1 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--primary);
}

div.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    position: relative;
    align-items: center;
}

div.title h2 {
    text-align: center;
    line-height: 1;
    position: relative;
}

div.title h2:before {
    content: "";
    height: 4px;
    width: 70px;
    background: var(--tertiary);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}

.title p {
    position: absolute;
    bottom: 0;
    letter-spacing: 2px;
    color: var(--primary);
}

div.title span {
    font-weight: 700;
    color: var(--tertiary);
    position: absolute;
    font-family: var(--font);
    top: -20px;
}

.text-bloc {
    text-align: justify;
}

section#about {
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    left: 350px;
    display: block;
    width: calc(100% - 450px);
}

div.img {
    position: relative;
    width: 500px;
    height: 500px;
    /* border-radius: 50%; */
    background: var(--secondary);
}

header div.img {
    border: 10px solid var(--tertiary);
}

div.img:before {
    content: "";
    width: 80px;
    height: 80px;
    background: var(--tertiary);
    position: absolute;
    right: 40px;
    top: -45px;
    border: 10px solid #000000;
    transform: rotate(45deg);
}

header div.img:before {
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

header div.img:after {
    top: 39%;
    left: 88%;
    background: #f4ff00;
}

div.img:after {
    content: "";
    width: 100px;
    height: 100px;
    background: var(--tertiary);
    position: absolute;
    left: -60px;
    bottom: -50px;
    border-radius: 50%;
    border: 10px solid #000000;
}

div.img img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    padding-top: 10%;
}

.btns {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.btns a.btn {
    background: transparent;
    border: 1px solid var(--light);
    padding: 15px 20px;
    font-size: 20px;
    letter-spacing: 4px;
    color: var(--light);
    position: relative;
    overflow: hidden;
    font-weight: 700;
    transition: all .3s linear;
}

.btns a.btn:hover {
    color: var(--dark);
}

.btns a.btn:before {
    content: "";
    inset: 0;
    background: var(--tertiary);
    position: absolute;
    left: 0;
    transition: all 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 0;
    z-index: -1;
}

.btns a.btn:hover:before {
    left: 0;
    width: 100%;
}

h1 span.subtitle {
    -webkit-text-stroke-color: var(--tertiary);
    display: block;
}

span.subtitle:nth-child(2) {
    -webkit-text-fill-color: var(--primary);
    -webkit-text-stroke: aliceblue;
    -webkit-text-stroke-color: #ffffff30;
    -webkit-text-stroke-width: thin;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 20px 0;
}

.slogan {
    display: flex;
    flex-direction: column;
}

.slogan h1,
h2 {
    font-size: 6rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--light);
    -webkit-text-stroke-width: thin;
    letter-spacing: 5px;
    font-family: var(--font);
}

.count-particles {
    display: none;
}

div#stats {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--secondary);
    padding: 2% 40px;
    align-items: center;
    position: fixed;
    height: 100%;
}

div#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

a.logo img {
    max-width: 145px;
}

header {
    position: relative;
    height: 100vh;
}

section#header {
    height: 100%;
    display: flex;
    z-index: 9;
    position: relative;
}

.banner {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10%;
    position: relative;
    left: 20%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    letter-spacing: 1px;
}

nav ul li a {
    font-size: 27px;
    transition: all .3s linear;
    position: relative;
    font-weight: 700;
    font-family: var(--font);
    color: var(--light);
}

nav ul li a:hover {
    color: var(--tertiary);
}

nav ul li a:before {
    content: "";
    width: 24px;
    height: 1px;
    background: var(--tertiary);
    left: -200px;
    top: 50%;
    position: absolute;
    transition: all .3s linear
}

nav ul li a:hover:before {
    left: -33px;
}

.social {
    display: flex;
    gap: 20px;
}

.social a {
    width: 30px;
    height: 30px;
    border: 1px solid #f4ff0052;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all .3s linear;
}

.social a:hover {
    color: var(--dark);
    background: var( --tertiary);
    border-color: var( --dark);
    transform: rotate(360deg);
}


/* =======================================
The juicy stuff
======================================= */

.filter-section {
    padding: 30px 60px;
    transition: 1.3s;
}

.controls ul {
    text-align: center;
}

.controls ul li {
    color: #f1f1f1;
    opacity: .7;
    background: transparent;
    display: inline;
    padding: 12px 16px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
}

.controls ul li:hover,
.controls ul li.active {
    text-decoration: underline solid white 2px;
    text-underline-offset: 0.5rem;
    opacity: 1;
    color: var(--tertiary);
}

.clearfix:after {
    display: table;
    content: " ";
    clear: both;
}

.item-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 1rem;
}

.item-grid .item {
    display: none;
    overflow: hidden;
    background: var(--secondary);
    position: relative;
}

.item-grid .item a {
    position: absolute;
    inset: 0;
    background: #000000d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: var(--font);
    font-weight: 100;
    gap: 20px;
    z-index: 9;
    letter-spacing: 2px;
    transform: scale(0);
    transition: all .3s linear;
}

.item-grid .item:hover a {
    transform: scale(1);
}

.item-grid .item img {
    width: 100%;
    transition: all .3s linear;
    height: 100%;
    object-fit: contain;
}

.item-grid .item.websites img {
    object-fit: cover;
}

.item-grid .item:hover img {
    transform: scale(1.5) rotate(5deg)
}


/* Media Queries */

@media (max-width: 768px) {
    .item-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 768.1px) and (max-width: 991px) {
    .item-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}